.board {
    display: grid;
    width: 500px;
    height: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2px;
    border: 1px solid black;
    padding: 2px;
    background-color: green;
}

.cell {
    font-size: 4rem;
}


.form-div {
    /* border: 2px solid red; */
    width: 300px;
    height: 300px;
    
}

.form-div-hidden {
    display: none;
}
