
@font-face {
    font-family: Fredoka;
    src: url(assets/fonts/Fredoka/Fredoka-VariableFont_wdth-wght.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Nunito;
    src: url(assets/fonts/Nunito/Nunito-VariableFont_wght.ttf);
    font-weight: 900;
}

@font-face {
    font-family: MPlusRounded1cReg;
    src: url(assets/fonts/M-PLUS-Rounded-1c/MPLUSRounded1c-Regular.ttf);

}

body {
    font-family: MPlusRounded1cReg, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    box-sizing: border-box;
    /* border: 2px solid red; */
    margin: 0;
    padding: 0;
}

/* body {
   
} */

input {
    outline: none;
    width: 100%;
}

.start-page-div {
    padding: 1.5rem;
}

.form-h1 {
    display: grid;
    place-content: center;
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.form-div {
    border: 2px solid green;
    display: grid;
    place-content: center;
    gap: 1.5rem;
    width: clamp(200px, 100%, 650px);
    height: clamp(100px, 30vh, 210px); 
    padding: 2rem; 
    border-radius: 10px;
    
}

.form {
    display: flex;
    gap: 1rem;
} 

input[type="text"]{
    font-size: 1.1rem;
    height: 3rem;
    padding: 0.9rem;
    border-radius: 5px;
}

.player-one, .player-two {
    display: grid;
    justify-items: center;
    gap: 1rem;
    font-size: 1.5rem;
}

.start-button {
    border: none;
    font-size: 1.5rem;
    padding: 0.8rem;
    border-radius: 5px;
    
}

.start-page-div, .board-container {
    display: grid;
    place-content: center;

}

.start-page-div {
    height: 98vh;
}

#winner-info-dialog[open] {
    margin: auto;
    min-width: 100vw;
    text-align: center;
    padding: 2rem 1.5rem;
}

.dialog-container {
    display: grid;
    gap: 0.5rem;
    padding: 2rem 0;
}

.display-info {
    font-size: 1.2rem;
}

.dialog-display-scores {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1.3rem;
    font-weight: bold;
}

.modal-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

/* Look here if things don't
go as planned with the header */
.game-container {
    display: grid;
    gap: 0.5rem;
    grid-template-rows: 1fr 6fr 1fr;
}
.board-header-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;

}

button {
    font-family: MPlusRounded1cReg, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.modal-buttons > button, #dialog-new-game-btn, .new-game-button {
    font-size: 1.2rem;
    padding: 0.7rem 1.5rem;
    border-radius: 5px;
    border: none;
}

@media screen and (max-width: 550px) {
    /* CSS styles for small screens - less than 550px*/

    .modal-buttons > button, #dialog-new-game-btn, .new-game-button {
        font-size: 1rem;
        padding: 0.4rem 0.5rem;

    }
}


/* for the board-header */
.form-h1, .board-h1 {
    font-family: Nunito, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.new-game-button {
    align-self: center;
}

.display-turn-h2 {
    justify-self: center;
}

.board-container {
    display: grid;
    gap: 1rem;
}

.board {
    display: grid;
    width: clamp(100px, 350px, 400px);
    height: clamp(100px, 350px, 400px);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
    border: 1px solid black;
    padding: 2px;
    background-color: green;
}

.cell {
    font-size: 4rem;
    border-radius: 10px;
}

.player-one > label, .player-two > label, .cell, .player-one-marker, .player-two-marker {
    font-family: Fredoka, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.scores-div {
    display: flex;
    justify-content: space-between;
}

.player-one-container, .player-two-container {
    border: 1px solid black;
    display: grid;
    gap: 0.2rem;
    justify-items: center;
    padding: 0 1rem;
}

.player-one-marker, .player-two-marker {
    font-size: 1.2rem;
}

.player-one-name, .player-two-name {
    font-size: 1.22rem;
    font-weight: bold;
}

.player-one-score, .player-two-score {
    font-size: 1.5rem;
    font-weight: bold;
}